/*******************************Global Setttings *******************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::placeholder {
  color: white;
  opacity: 1;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 26px;
  line-height: 1.5;
  color: #2e2e2e;
  font-weight: normal;
  font-family: "myriad-pro", "candara", "Arial", "sens-serif";
}

h2 {
  margin-bottom: 45px;
}

p {
  margin-bottom: 70px;
}

a {
  color: #2e2e2e;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*********************************utilities************************************/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.group::after {
  content: '';
  display: table;
  clear: both;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  margin: 0 auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.active {
  display: block !important;
}

.position-relative {
  position: relative;
}

.btn {
  padding: 30px 60px;
  border-radius: 5px;
}

.btn-white {
  background-color: white !important;
}

.text-white {
  color: white;
}

/**************************layout*****************************/
.header {
  max-width: 1102px;
  padding: 40px 0;
}

.header .navigation ul {
  font-size: 36px;
}

.header .navigation ul li {
  margin-left: 40px;
  color: #a0ce24 !important;
}

.header .navigation ul li:first-child {
  margin-left: 0;
}

.banner {
  background-color: #62ad75;
  margin-bottom: 52px;
  font-size: 30px;
}

.banner .banner-img img {
  width: 100%;
  display: none;
  background-color: #62ad75;
  opacity: 30%;
}

.banner .banner-content {
  width: 1102px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .banner-content h2 {
  font-size: 66px;
  text-transform: uppercase;
}

.banner .banner-content p {
  font-size: 30px;
}

.main .product {
  width: 1102px;
}

.main .product .title {
  margin-bottom: 75px;
}

.main .product .product-item {
  width: 300px;
}

.main .product .product-item .product-name {
  margin-bottom: 30px;
}

.main .about {
  background-color: #f0f0f0;
  margin-bottom: 65px;
}

.main .about .about-container {
  padding: 168px 0;
  margin-bottom: 60px;
  width: 1102px;
}

.main .about .about-container img {
  margin-left: 168px;
}

.main .testimonials {
  margin-bottom: 85px;
}

.main .testimonials .testimonials-item {
  position: relative;
  width: 1102px;
  padding: 0 176px;
}

.main .testimonials .testimonials-item .testimonial-user-picture {
  margin-right: 30px;
  margin-top: -10px;
  width: 180px;
  height: 180px;
}

.main .testimonials .testimonials-item .indicators {
  font-size: 80px;
}

.main .testimonials .testimonials-item .indicators .left {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .testimonials .testimonials-item .indicators .right {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .subscribe {
  background-color: #62ad75;
}

.main .subscribe .subscribe-container {
  width: 1102px;
  padding: 55px 61px 55px 85px;
}

.main .subscribe input {
  font-size: 30px;
  width: 65%;
  padding: 30px 50px;
  color: inherit;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline-style: none;
}

.main .subscribe button {
  font-size: 30px;
  padding: 30px 75px;
  color: #62ad75;
  border: 1px solid white;
  border-radius: 10px;
}

.footer .widget-area {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 1102px;
  padding: 55px 0;
}

.footer .widget {
  width: 30%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer .copyright {
  padding: 30px 0;
  background: #2a2a2a;
}
/*# sourceMappingURL=main.css.map */